*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body{
    overflow-y: hidden;
}

.display{
    display: flex;
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    width: 100%;
    padding: 1.48rem;
    gap: 1rem;
    align-items: center;
    border-bottom: 2px solid rgb(219, 219, 219);
}



.qtdMsg{
    background-color: rgb(201, 230, 230);
    padding: 2%;
    width: 1.2rem;
    height: 1rem;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

.searchbar{
    margin : 1rem 3rem;
    padding: 5% 10%;
    width: 70%;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 9px;
    outline: none;
}
.rows{
    display: grid;
    margin-top: 10%;
}


.row{
    width: 100%;
    display: flex;
    border: none;
    border-radius: 6px;
    padding: 3%;
    margin: 0 6%;
    cursor: pointer;
    
}
.row div{
    align-items: top;
    margin: 0px 19px;
}
.row span{
    font-weight: bold;
}

.row p{
    margin-left: auto;
    padding-right: 0.6rem;
}

.rightSide{
    display: grid;
    margin-left: 3%;
    border-left: 2px solid black;
}

.displayChat{
    height: 100vh;
    width: 90vw;
}

.chat{
    height: 75.4vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: lightgray;
    padding: 10px;
}

.input-container {
    position: relative;
    width: 80%;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;


}

.input-icon {
    position: absolute;
    right: 3%;  /* Posiciona a imagem na extrema direita */
    top: 50%;
    transform: translateY(-50%);
    width: 2rem; /* Tamanho do ícone */
    cursor: pointer;
    
}

.input-container input {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2rem;
}


.userRow{
    display: flex;
    margin: 0;
    padding: 1%;
    align-items: center;
    
}

.name-msg{
    margin-left: 20px;
}
.name-msg span:first-child{
    font-weight: bolder;
    font-size: 1.3rem;
}